.topweb_color{
    width:100%;
    height:100vh;
    position:relative;
    overflow:hidden;
    background:linear-gradient(to right, #D6F6D5, #90EE91);
}

.centered {
    text-align: center;
    postion:absolute;
    white-space:nowrap;
}

.movetxt{
    position:absolute;
    left:740px;
    top:0;
}

 .left{
    position: absolute;
    top: 160px;
    left:15px;
    width: 100%;
 }

 .citation{
    position: absolute;
    top: 670px;
    left:5px;
    width: 100%;
 }

.large {
    font-size:large;
}

.medium {
    font-size: medium;
}

.small {
    font-size:small;
}

.times_font{
    font-family: "Times New Roman", Times, serif;
}

.border1 {
 border-width:3px;
 border-style:solid;
 border-color:#000000;
}

.web_color{
    width:100%;
    height:100vh;
    position:relative;
    overflow:hidden;
    background-color:#fff;
}

.web_color_al{
    width:100%;
    height:100vh;
    position:relative;
    overflow:hidden;
    background-color:#bdc3c7;
}

/* this makes the menu to the links */
nav{
    width: 95%;
    position:fixed;
    margin:5px auto;
    z index:1;
    display:absolute;
    align-items:center;
    white-space:nowrap;
}
.nav-links{
    flex: 1;
    text-align:right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.nav-links ul li a{
    color: #000000;
    text-decoration: none;
}

.move-nav{
    position:absolute;
    right:0;
    top:0;
}
.move-nav1{
    position:absolute;
    right:65px;
    top:0;
}


.logo{
    margin:5px pointer;
    top:0;
}

.center {
    display: block;
    margin-right: auto;
    width: 50%;
  }

nav.logo{
    width:20px;
    cursor:pointer;
}

.nowrap{
    white-space:nowrap;
}

nav{
    width: 95%;
    position:sticky;
    margin:20px auto;
    z index:1;
    display:flex;
    align-items:center;
    white-space:nowrap
}
.nav-links_2{
    flex: 1;
    text-align:right;
    white-space:nowrap;
}

.nav-links_2 ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.nav-links_2 ul li a{
    color: #000000;
    text-decoration: none;
}

.footer {
    position: fixed;
    left: 10px;
    bottom: 5px;
    right: 10px;
    width: 95%;
    background:linear-gradient(to right, #D6F6D5, #90EE91);
    color: white;
    text-align: center;
    white-space:nowrap;
}

.move{
    position:absolute;
    right:0;
    top:0;
}

}

@media screen and (max-width: 320px) {
  /* comes into effect for screens less than or equal to 320 pixels */
  #somethingorother {
    width: 120px ;
  }
}
@media screen and (min-width: 321px) and (max-width: 480px) {
  /* comes into effect for screens between 321 and 480 pixels (inclusive) */
  #somethingorother {
    width: 320px ;
  }
}
@media screen and (min-width: 481px) {
  /* comes into effect for screens larger than or equal to 481 pixels */
  #somethingorother {
    width: 480px ;
  }
}